;@import url('https://fonts.googleapis.com/css2?family=Roboto=optional-2nd-font-Lato&display=swap');
:root {
    --primary-color: #EDF5FC
    --secondary-color: #568EA3
    --accent1-color: #68C3D4
    --accent2-color: #FFE8D1

    --heading-font: 'Roboto', italic;
    --paragraph-font: 'Lato', Italic;

    --nav-background-color: #1E2EDE;
    --nav-link-color: #53FF45;
    --nav-hover-background-color: #060354;
}

/* Remove under-line from specific links */
.facebook.com {
    text-decoration: none;
}

.twitter.com {
    text-decoration: none;
}

.instagram {
    text-decoration: none;
}

.hero {
    position: relative; /* Other styles for your hero image */
}

.hero h1, .hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Additional styles to center the content */
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    background-image: url("images/happyclient.image.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 80%;
    padding: 20px;
}

.article img {
    float: right;
    margin-left: 20px;
}

.article p {
    padding: 0; /* Additional styles for your paragraph */
} 

.hero article {
    background-color: rgba(255, 255, 255, 0.7); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue; 
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: rgb(51, 155, 241);
    padding: .5rem
}
 
main {
    max-width: 640px;
}

.article img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}